In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('서울시 상권분석서비스(아파트-상권).csv')
data

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,아파트_면적_132_제곱미터_세대_수,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
0,20241,A,골목상권,3110008,배화여자대학교(박노수미술관),145,856.0,215.0,17.0,NaN,NaN,104.0,368.0,520.0,92.0,4.0,NaN,NaN,57,200478024
1,20242,A,골목상권,3110008,배화여자대학교(박노수미술관),145,856.0,215.0,17.0,NaN,NaN,104.0,368.0,520.0,92.0,4.0,NaN,NaN,57,200478024
2,20242,A,골목상권,3110009,자하문터널,45,124.0,139.0,21.0,10.0,9.0,13.0,118.0,120.0,38.0,8.0,6.0,NaN,79,225732091
3,20242,A,골목상권,3110010,평창동서측,58,69.0,171.0,52.0,22.0,71.0,1.0,74.0,101.0,99.0,34.0,29.0,47.0,130,534079842
4,20242,A,골목상권,3110017,정독도서관,10,15.0,15.0,1.0,NaN,22.0,6.0,10.0,8.0,7.0,NaN,NaN,22.0,164,1153964394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27964,20204,U,관광특구,3001495,잠실 관광특구,23,727.0,200.0,238.0,644.0,192.0,16.0,348.0,312.0,83.0,70.0,16.0,1156.0,85,504839082
27965,20203,U,관광특구,3001495,잠실 관광특구,23,727.0,200.0,238.0,644.0,192.0,16.0,348.0,312.0,83.0,70.0,16.0,1156.0,85,504839082
27966,20202,U,관광특구,3001495,잠실 관광특구,23,727.0,200.0,238.0,644.0,192.0,16.0,348.0,312.0,83.0,70.0,16.0,1156.0,85,504839082
27967,20201,U,관광특구,3001495,잠실 관광특구,23,727.0,200.0,238.0,644.0,192.0,16.0,348.0,312.0,83.0,70.0,16.0,1156.0,85,504839082
27968,20194,U,관광특구,3001495,잠실 관광특구,23,727.0,200.0,238.0,644.0,192.0,16.0,348.0,312.0,83.0,70.0,16.0,1156.0,85,504839082

In [9]:
data[data['기준_년분기_코드'].astype(str).str.contains('2023')]

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,아파트_면적_132_제곱미터_세대_수,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
106,20233,A,골목상권,3110020,서울국제고등학교,102,550.0,91.0,16.0,4.0,2.0,235.0,288.0,122.0,10.0,6.0,NaN,2.0,54,140643747
271,20231,A,골목상권,3110001,이북5도청사,18,20.0,126.0,12.0,13.0,46.0,11.0,4.0,23.0,74.0,40.0,25.0,40.0,115,435370606
297,20231,A,골목상권,3110078,이촌동점보아파트,1,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0,187,1145916667
328,20234,A,골목상권,3110008,배화여자대학교(박노수미술관),145,856.0,215.0,17.0,NaN,NaN,104.0,368.0,520.0,92.0,4.0,NaN,NaN,57,200478024
502,20233,A,골목상권,3110009,자하문터널,45,124.0,139.0,21.0,10.0,9.0,13.0,118.0,120.0,38.0,8.0,6.0,NaN,79,225732091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23690,20232,D,발달상권,3120125,구로역,4,12.0,51.0,NaN,NaN,NaN,11.0,29.0,NaN,NaN,18.0,5.0,NaN,73,249302273
23834,20232,D,발달상권,3120135,양평역,2,10.0,10.0,NaN,NaN,NaN,NaN,8.0,2.0,NaN,10.0,NaN,NaN,52,305000000
25560,20232,R,전통시장,3130223,고척근린시장,1,22.0,NaN,NaN,NaN,NaN,NaN,16.0,6.0,NaN,NaN,NaN,NaN,37,147272727
25711,20232,R,전통시장,3130138,수유프라자,1,NaN,10.0,2.0,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,NaN,81,277666667
27411,20232,R,전통시장,3130104,전곡시장,4,25.0,7.0,NaN,NaN,NaN,NaN,1.0,31.0,NaN,NaN,NaN,NaN,62,220650000

In [21]:
data[data['기준_년분기_코드']== ' 20232']

Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 아파트_단지_수, 아파트_면적_66_제곱미터_미만_세대_수, 아파트_면적_66_제곱미터_세대_수, 아파트_면적_99_제곱미터_세대_수, 아파트_면적_132_제곱미터_세대_수, 아파트_면적_165_제곱미터_세대_수, 아파트_가격_1_억_미만_세대_수, 아파트_가격_1_억_세대_수, 아파트_가격_2_억_세대_수, 아파트_가격_3_억_세대_수, 아파트_가격_4_억_세대_수, 아파트_가격_5_억_세대_수, 아파트_가격_6_억_이상_세대_수, 아파트_평균_면적, 아파트_평균_시가]
Index: []